<!-- brand_list.html -->
{% extends 'base.html' %}

{% block content %}
<h4 class="card-title mb-3">قائمة البراندات</h4>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">اسم البراند</th>
        <th scope="col">الفئة</th>
        <th scope="col">الإجراء</th>
      </tr>
    </thead>
    <tbody>
      {% for brand in brands %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ brand.name }}</td>
        <td>{{ brand.category.name }}</td>
        <td>
          <a class="text-success mr-2" href="{% url 'Inventory:brand_update' brand.pk %}">تعديل</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}