{% extends 'base.html' %}
{% block content %}

<!-- section 1-->
<section class="ul-widget-stat-s1">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Car-Items"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0"><a href="home1"> المنتجات</a></p>
                        <p class="text-primary text-28 line-height-1 mb-2"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Data-Upload"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0"><a href="home2"> الوارد  </a></p>
                        <p class="text-primary text-24 line-height-1 mb-2"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Data-Upload"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0"><a href="home3"> الصادر  </a></p>
                        <p class="text-primary text-24 line-height-1 mb-2"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Data-Upload"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0"><a href=" monitoring/"> تقارير المخزن  </a></p>
                        <p class="text-primary text-24 line-height-1 mb-2"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Data-Upload"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0"><a href=" home/inventory/report/">   تقارير   </a></p>
                        <p class="text-primary text-24 line-height-1 mb-2"></p>
                    </div>
                </div>
            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
