{% extends 'base.html' %}

{% block content %}
<h4 class="card-title mb-3">عرض قائمة الصادر</h4>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Brand</th>
        <th scope="col">Quantity</th>
        <th scope="col">Building</th>
        <th scope="col">Room</th>
        <th scope="col">Responsible Person</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for outgoing in outgoing_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ outgoing.product_category.name }}</td>
        <td>{{ outgoing.brand.name }}</td>
        <td>{{ outgoing.quantity }}</td>
        <td>{{ outgoing.building.name }}</td>
        <td>{{ outgoing.room.name }}</td>
        <td>{{ outgoing.responsible_person.name }}</td>
        <td>
          <a href="{% url 'Inventory:outgoing_detail' pk=outgoing.pk %}" class="btn btn-primary">تفاصيل</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
